/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Sep 2020, 4:31:47 pm
    Author     : LYJ
*/
nav img {
    height: 36px;
}
section h1 {
    text-decoration: underline;
}
article {
    margin: 1rem 0 1rem;
}

article div {
    padding: 3rem;
}

.jumbotron {
    padding-top: 13rem;
    padding-bottom: 13rem;
}

figure {
    display: inline-block;
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

footer {
    border-top: solid;
    border-width: 1px;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    padding: 10px;
    margin: 2rem;
}

.img-popup {
    z-index: 1; /* Popup appears on top */
    height: 20rem;
    bottom: 6.25rem;
    left: 5rem;
    padding: 0.75rem;
    background: azure;
    position: absolute;
    box-shadow: 0 0 1rem dimgray;
}

.img-popup img {
    height: 100%;
<<<<<<< Updated upstream
=======
}

.avatar {
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    max-width: 100%;
    border-radius: 50%;
    margin: 1rem auto;
}

.spacing {
    margin-top: 20px;
    margin-bottom: 10px;
}

.textstyle {
    background-color: blanchedalmond; 
    border-radius: 20px; 
    width: auto; 
    height: auto; 
    padding: 5px 30px 5px 30px; /* Making space around letters */
    font-size: 18px; 
    text-align: center;
>>>>>>> Stashed changes
}