/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Sep 2020, 4:31:47 pm
    Author     : LYJ
*/
body{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

article {
    margin: 1rem 0 1rem;
}

article div {
    padding: 3rem;
}

.jumbotron {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

figure {
    display: inline-block;
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

.btn-static {
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
    height: 35px;
}

span.subhead {
    font-size:1.5em;
    text-align: center;
    display:block;
    position: relative;
    margin-bottom: 4rem;
}
span.subhead:before, span.subhead:after {
    content:"";
    width:60px;
    height:6px;
    border-top:1px solid black;
    display:inline-block;
    margin:0 10px;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    padding: 2rem;
    background-color: #FFD899;
}

.img-popup {
    z-index: 1; /* Popup appears on top */
    height: 20rem;
    bottom: 6.25rem;
    left: 5rem;
    padding: 0.75rem;
    background: azure;
    position: absolute;
    box-shadow: 0 0 1rem dimgray;
}

.img-popup img {
    height: 100%;
}

.avatar {
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    max-width: 100%;
    border-radius: 50%;
    margin: 1rem auto;
}

.account-circle {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.profile-logo {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    max-width: 100%;
    border-radius: 50%;
    margin: 1rem auto;
}

.profile {
    padding: 2rem;
    background-color: white;
    text-align: center;
}

.review {
    margin-top: 4rem;
}

.review-divider {
    border-color: lightgray;
}

.review-block {
    padding: 0 3px;
}

.review-movie {
    text-align: right;
    padding-right: 5px;
}

.card-background {
    background: #fff2ec;
}

#profile-settings {
    position: relative;
    padding: 1rem;
}

#edit-profile {
    position: absolute;
    bottom: 30px;
    left: 0;
}

#log-out{
    position: absolute;
    bottom: 0;
    left: 0;
}

#leave-review {
    margin-top: 2rem;
}

#change-pic {
    margin: auto;
    padding-left: 1rem;
}

/*-----Slider-----*/
#slide{
    width: auto;
    margin: auto;
}


.content {
  width: 70%;
  height: auto;
  min-height: 300px;
  margin: auto;
  background: white;
  padding: 10px;
  position: relative;
}

/*-----search_result.php-----*/
.mini-movie-poster {
    width: 100%;
}

/* From https://www.w3.org/WAI/tutorials/forms/labels/ */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*-----Carousel Top Rated Movie-----*/
#topRatedSec{
    margin-top: 70px !important;
    text-align: left !important;
}
#topRated img{
    width: 100% !important;
    height: 350px !important;
}
.style-line{
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*-----Carousel Latest Movie-----*/
#latestSec{
    margin-top: 70px !important;
    text-align: left !important;
}
#latestMovie img{
    width: 100% !important;
    height: 350px !important;
}


#homeSlider img{
    width: 100% !important;
    height: auto !important;
    max-height: 450px;
}

section { display: block; }

/*-----Back to top button-----*/
#ToTopButton {
    display: none;
    padding: 8px 16px;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    border-radius: 100%;
}

#ToTopButton:hover {
    background-color: #DDF;
}


/*-----Movie Grid View----*/
/* Create two equal columns that floats next to each other */
.m-column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}



.allmovies{
    display: inline-block;
    float: left;
    width: 100%;
    padding: 60px 35px 5px;
    margin-top: 70px;
    margin: auto;
}

.allmovies h3{
    padding-bottom: 8px;
}
.movie-poster-grid{
    padding: 5px 0px;
}
.m1{
    width: 24%;
    height: auto;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
}
.m1 img{
    width: 100%;
    max-height: 350px;
}

/*
@media screen and (max-width: 995px) {
  
}

@media screen and (max-width: 1200px) {
  
}*/