/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Sep 2020, 4:31:47 pm
    Author     : LYJ
*/
body{
    padding: 0;
    margin: 0;
    background: #add8e6 !important;
}

nav img {
    height: 36px;
}

article {
    margin: 1rem 0 1rem;
}

article div {
    padding: 3rem;
}

.jumbotron {
    padding-top: 13rem;
    padding-bottom: 13rem;
}

figure {
    display: inline-block;
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

.btn-static {
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
    height: 35px;
}

footer {
    border-top: solid;
    border-width: 1px;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    padding: 10px;
    margin: 2rem;
}

.img-popup {
    z-index: 1; /* Popup appears on top */
    height: 20rem;
    bottom: 6.25rem;
    left: 5rem;
    padding: 0.75rem;
    background: azure;
    position: absolute;
    box-shadow: 0 0 1rem dimgray;
}

.img-popup img {
    height: 100%;
}

.avatar {
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    max-width: 100%;
    border-radius: 50%;
    margin: 1rem auto;
}

.spacing {
    margin-top: 20px;
    margin-bottom: 10px;
}

.textstyle {
    background-color: blanchedalmond; 
    border-radius: 20px; 
    width: auto; 
    height: auto; 
    padding: 5px 30px 5px 30px; /* Making space around letters */
    font-size: 18px; 
    text-align: center;
}

/*-----Slider-----*/
#slide{
    width: 2000px;
    margin: 0;
    margin-left: -445px;
}

/*-----Carousel Movies-----*/
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(50%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
}

@media (min-width: 768px) and (max-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.33%);
    }

    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

@media (min-width: 1200px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(16%);
    }

    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-16%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}


main > .container{
   background: white !important;
}

.content {
  max-width: 2000px;
  margin: auto;
  background: white;
  padding: 10px;
}