div.col-sm-4 img {
    width: 100%;
    margin-top: 0.5rem;
}

img.avatar.mr-3 {
    width: 64px;
    height: 64px;
}

.card-img-top {
    max-height: 500px;
}

#review {
    margin-top: 5rem;
}

.review-block {
    margin: 1rem;
}

.review-divider {
    border-color: white;
}

.review-block {
    padding: 0 3px;
}