
.navbar-custom {
    background-color: #FFD899;
}
nav a {
    color: black;
    font-size: 18px;
}

.logo {
    border: 1px solid black;
    width: 70px;
    height: 70px;
}

input[nav-item]:hover{
    text-decoration: #1929BC underline;
    font-weight: bold;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: black;
    border:pink;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
